/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../../app/stylesheets/screen.scss */
body {
  margin: 8px;
  font-family: Verdana;
  color: #828282;
  font-size: 10pt;
}

/* line 16, ../../app/stylesheets/screen.scss */
input {
  font-family: Courier;
  font-size: 10pt;
  color: #000000;
}

/* line 17, ../../app/stylesheets/screen.scss */
input[type=\"submit\"] {
  font-family: Verdana;
}

/* line 18, ../../app/stylesheets/screen.scss */
textarea {
  font-family: Courier;
  font-size: 10pt;
  color: #000000;
}

/* line 20, ../../app/stylesheets/screen.scss */
a:link {
  color: #000000;
  text-decoration: none;
}

/* line 21, ../../app/stylesheets/screen.scss */
a:visited {
  color: #828282;
  text-decoration: none;
}

/* line 23, ../../app/stylesheets/screen.scss */
#container {
  width: 85%;
  margin: 0 auto;
  background-color: #f6f6ef;
}
/* line 28, ../../app/stylesheets/screen.scss */
#container #slider {
  width: 600px;
  margin: 15px;
}
/* line 33, ../../app/stylesheets/screen.scss */
#container .header {
  background-color: #ff6600;
  padding: 5px 6px 6px 6px;
}
/* line 37, ../../app/stylesheets/screen.scss */
#container .header a:link, #container .header a:visited {
  color: black;
}
/* line 41, ../../app/stylesheets/screen.scss */
#container .header .logo {
  font-weight: bold;
}
/* line 47, ../../app/stylesheets/screen.scss */
#container #links .link {
  clear: both;
}
/* line 52, ../../app/stylesheets/screen.scss */
#container #links .link .rank {
  float: left;
  width: 20px;
  text-align: right;
  margin-right: 5px;
}
/* line 59, ../../app/stylesheets/screen.scss */
#container #links .link .title {
  float: left;
}
/* line 63, ../../app/stylesheets/screen.scss */
#container #links .link .comments {
  float: left;
  clear: both;
  margin-left: 25px;
  font-size: 7pt;
  color: #828282;
  margin-bottom: 5px;
}
