/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

body {
  margin: 8px;
  font-family: Verdana;
  color: #828282;
  font-size: 10pt;
}

input    { font-family:Courier; font-size:10pt; color:#000000; }
input[type=\"submit\"] { font-family:Verdana; }
textarea { font-family:Courier; font-size:10pt; color:#000000; }

a:link    { color:#000000; text-decoration:none; }
a:visited { color:#828282; text-decoration:none; }

#container {
  width: 85%;
  margin: 0 auto;
  background-color: #f6f6ef;
  
  #currentDate {
    position: absolute;
    left: 685px;
    
    background-color: white;
    border: 1px solid #ccc;
    @include border-radius(5px);
    padding: 3px;
    font-size: 8pt;
    
  }
  
  #slider {
    width: 600px;
    margin: 15px 15px 8px 15px;
  }
  
  .header {
    background-color: #ff6600;
    padding: 5px 6px 6px 6px;
    
    a:link, a:visited {
      color: black;
    }
    
    .logo {
      font-weight: bold;
    }
  }
  
  .footer {
    clear: both;
    text-align: right;
    padding: 7px;
    
    a:link, a:visited {
      color: #ff6600;
    }
  }
  
  #links {
    margin-top: 30px;
    
    .link {
      clear: both;
    
      $rankWidth: 20px;
      $rankMarginRight: 5px;
      .rank {
        float: left;
        width: $rankWidth;
        text-align: right;
        margin-right: $rankMarginRight;
      }
    
      .title {
        float: left;
      }
    
      .comments {
        float: left;
        clear: both;
        margin-left: $rankWidth + $rankMarginRight;
        
        font-size: 7pt;
        color: #828282;
        margin-bottom: 5px;
      }
    }
    
  }
  
}