%input#mainSlider{:type => "range", :max => @last.id, :min => 1, :step => 1, :value => @start}
#currentDate Now
%table#links
  - @links.each do |link|
    %tr
      %td.title
        = link.rank
      %td.title
        %a{:href => link.href}= link.title
      %td
        %a{:href => link.comments} Comments